$green: #2ecc71;
$greenHover: #27ae60;
$blue: #3498db;
$blueHover: #2980b9;
$orange: #e67e22;
$orangeHover: #d35400;
$yellow: #f1c40f;
$yellowHover: #f39c12;
$red: #e74c3c;
$redHover: #c0392b;
$grey: #95a5a6;
$greyHover: #7f8c8d;
$darkBlue: #34495e;
$darkBlueHover: #2c3e50;
$purple: #9b59b6;
$purpleHover: #8e44ad;

$fontColor: #444;
